@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  color: var(--lighter);
}
:root {
  --dark: #141414;
  --darkest: #000000;
  --lighter: #d9d9d9;
  --light: #9d9d9d;
  --darker: #1a1a1a;
}

body {
  background-color: var(--darkest);
}

.container {
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}
.nav {
  margin-bottom: 1rem;
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: var(--darkest);
}
h1 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

input {
  background-color: var(--darker);
  color: var(--light);
  padding: 0.5rem 1rem;
  width: 100%;
  border: none;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
}

.add-button,
.save {
  width: 100%;
  color: var(--darker);
  background-color: var(--lighter);
  padding: 0.5rem 1rem;
  border: none;
  font-weight: 400;
  font-size: 1rem;
  border-radius: 0.5rem;
  width: 100%;
}

ul {
  list-style-type: none;
  flex-grow: 1;
}

ul > li {
  background-color: var(--darker);
  margin-bottom: 1rem;
  padding: 1rem;
  width: 100%;
  border: none;
  border-radius: 0.5rem;
}

span {
  color: #9d9d9d;
  font-size: 12px;
  display: block;
  margin-top: 1rem;
}

h2 {
  margin-bottom: 1rem;
}

.times {
  display: block;
  margin-left: auto;
  font-size: 32px;
  font-weight: bold;
}

.save {
  margin-top: 2rem;
}

.modal {
  padding: 1.5rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  z-index: 1000;
}

.modal.hidden {
  display: none;
}

.container.hidden {
  display: none;
}

form > input {
  font-size: 1rem;
  padding: 0.5rem 1.5rem;
}

.delete-btn {
  color: var(--darker);
  background-color: var(--lighter);
  padding: 0.5rem 1rem;
  border: none;
  font-weight: 400;
  font-size: 12px;
  border-radius: 0.5rem;
  width: 100%;
  margin-top: 0.5rem;
}
