:root {
  --dark: #141414;
  --darkest: #000000;
  --lighter: #d9d9d9;
  --light: #9d9d9d;
  --darker: #1a1a1a;
}

.list-item {
  background-color: white;
  padding: 8px;
  font-size: 14px;
  font-weight: 400;
  color: var(--darker);
  border-radius: 0.5rem;
  margin: 1rem 0;
}

.list-item h3 {
  font-size: 1rem;
  font-weight: 700;
}

.list-item p {
  font-size: 12px;
  font-weight: 400;
}

.list-item button {
  font-size: 12px;
  font-weight: 400;
  background-color: #1a1a1a;
  color: var(--lighter);
  width: 100%;
  padding: 4px;
  border-radius: 0.5rem;
  margin-top: 8px;
}
