@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
:root {
  --dark: #141414;
  --darkest: #000000;
  --lighter: #d9d9d9;
  --light: #9d9d9d;
  --darker: #1a1a1a;
}

.container {
  max-width: 700px;
  padding: 1rem;
  margin: 0 auto;
  box-shadow: 9px 7px 5px -6px rgba(0, 0, 0, 0.76);
}

h1 {
  text-align: center;
}

@media (max-width: 480px) {
  .container {
    width: 100%;
    height: 100vh;
    padding: 1rem;
  }
  .container form {
    margin: 1rem auto;
    display: flex;
    justify-content: center;
  }
  .container input {
    margin: 0 3px;
    padding: 0.5rem 0.8rem;
    font-size: 14px;
    border-radius: 8px;
    border: none;
  }
  .task-button {
    background-color: var(--dark);
    color: var(--lighter);
    border-radius: 8px;
  }
  .task-input {
    background-color: #f0f0f0;
  }
  ul {
    width: 100%;
  }
  .task-item {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    margin: 1rem 0.5rem;
    align-items: center;
  }
  .del-btn {
    font-weight: 700;
    background-color: var(--darker);
    color: var(--lighter);
    padding: 0 0.5rem;
  }
}
